/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env

.lein-repl-history
demo/empty.cljs
tmp
figwheel_server.log
reagent.iml
.idea
.lein-failures

node_modules
junit
.shadow-cljs
coverage/
/lib/
.lein-deps-sum
.lein-plugins/
.cpcache/

# clj-kondo related
/clj-kondo
**/.clj-kondo/.cache
performance.txt
clj-kondo*.snap
.planck_cache